html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.slider {
    display: grid;
    grid-template-areas: 
    ".       .      ."
    "image image image"
    ".      .       .";
    position: absolute;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%
}

.slider img {
    grid-area: image;
    display: block;
    position: relative;
    width: 100%;
    background-position: center;
}

.slider-control{
    grid-area: image;
    display: flex;
    justify-content: space-between;
}

.slider-control button{
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.left-btn{
    top: 50%;
}
.right-btn{
    top:50%;
    right: 0px;
    float: right;
}

.play-pause-btn{
    position:absolute;
    top: 40px;
    left: 10px;
}

.pagination{
    grid-area: image;
    position: absolute;
    bottom: 20px;
    right: 400px;
}

.circle {
    border: 2px solid black;
    background-color: transparent;
    height: 1vw;
    border-radius:100%;
    width: 1vw;
    display: inline-block;
    margin-left: 1px;

}
.circle.active{
    background-color: black;
}